/*-------------------->> HEADER <<--------------------*/
body{
    background-image: url(../images/naranja.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}
.logo img {
    padding-top: 50px;
    padding-bottom: 40px;
}
h1, h4, p{
    font-family: 'Aref Ruqaa', serif;
}
/*-------------------->> SECTION EJERCICIO <<--------------------*/
button{
    margin-top: 20px;
}